<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BitCoinTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>367E4E041FBD912C0013E89F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367E4E181FBD912C0013E89F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>367E4E231FBD912C0013E89F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
